/**{
	margin: 0;
	padding: 3px;
	padding color: black;
}*/


/*
.nav{
	width: 90%;
	height: auto;
	background-color: white;
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	line-height: 80px;
	margin: auto;
	text-align: center;
}

.box{
	width: 450px;
	background:rgba(0,0,0,0.4);
	padding: -4px;
	text-align:left;
	margin: auto;
	margin-top: 8%;
	color: white 
	
}

body {
	background: url(images/hello.jpeg) no-repeat center center fixed;
	background-size: cover;
	

}

p.one {
	text-align: center 
	width: 300px;
	padding: 35px; 
	position: absolute;
	border: 21px solid black;
	bottom: 120px;
	left: 747px;
	shape-margin: white; 
}*/


